<div class="modal-header">
    <h3 class="modal-title">{{'TRANSACTIONS'|translate}}</h3>
</div>
<div class="modal-body clearfix" id="modal-body">
	<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
	<a href="" ng-click="reload()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> {{'REFRESH_BTN'|translate}}</a>
	<table ng-table-dynamic="tableParams with colsList" class="table table-bordered table-striped table-condensed table-hover">
		<tr ng-repeat="row in $data track by row.xid">
			<td ng-if="cols.date.show">{{row.date}}</td>
			<td ng-if="cols.code.show"><a href="" ng-click="showItem(row)"><em>{{row.code}}</em></a></td>
			<td ng-if="cols.name.show">{{row.name}}</td>
			<td ng-if="cols.quantity.show">{{row.quantity}}</td>
			<td ng-if="cols.comment.show">{{row.comment}}</td>
		</tr>
	</table>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="close()">{{'CLOSE_BTN'|translate}}</button>
</div>

